<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <title>Página Inicial</title>
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="left"><a href="{{ url_for('homepage') }}">Página Inicial</a></li>
            <li class="left"><a href="{{ url_for('rota') }}">Visualizar Pontos</a></li>
            <!-- Sintaxe do Jinja2 para gerar tags dinamicamente -->
            {% if current_user.is_authenticated %}
                <li class="right"><a href="">{{current_user.nome}}</a></li>
                <li class="right"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li class="right"><a href="{{ url_for('login') }}">Login</a></li>
                <li class="right"><a href="{{ url_for('sign_up_user') }}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    <br>
    <br>
    <div class="container">
        <h2>Bem vindo ao Sistema de Visualização de Pontos de Coleta de Lixo</h2>
        <p>Saiba onde o serviço de coleta atua e sugira novos pontos</p>
    </div>
</body>
</html>