<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <title>Login</title>
</head>
<body>

    <nav>
        <ul class="menu">
            <li class="left"><a href="{{ url_for('homepage') }}">Página Inicial</a></li>
            <li class="left"><a href="{{ url_for('rota') }}">Visualizar Pontos</a></li>
            <!-- Sintaxe do Jinja2 para gerar tags dinamicamente -->
            {% if current_user.is_authenticated %}
                <li class="right"><a href="">{{current_user.nome}}</a></li>
                <li class="right"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li class="right"><a href="{{ url_for('login') }}">Login</a></li>
                <li class="right"><a href="{{ url_for('sign_up_user') }}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    <br>
    <div class="container">
        <h3>Login</h3>
        <form method="POST">
            <input type="email" name="email" placeholder="email@dominio" required>
            <br>
            <input type="password" name="senha" placeholder="senha" required>
            <br>
            <button type="submit" name="cadastro" onclick="alert('{{ alerta }}')"> Confirmar </button>
        </form>
    </div>
</body>
</html>